.form {
  width: 37.5rem;
  margin: 0 auto;
}

.fieldContainer {
  margin: 10px 5px;
}

.imgFieldContainer {
  composes: fieldContainer;
  display: flex;
}

.previewImg {
  max-width: 22.5rem;
  max-height: 22.5rem
}

.hidden {
  display: none;
}
