@value chartreuse, persianIndigo from '../../styles/colors.css';

.root {
  width: 100vw;
}

.fulfillInfo h5:first-of-type {
  margin: 0;
  color: chartreuse;
}

.fulfillInfo {
  margin: 0;
  color: persianIndigo;
}

.approverInfo,
.supplierInfo,
.skuInfo,
.shippingInfo,
.confirm {
  width: 80%;
  margin: 0 auto;
}

.confirm {
  display: flex;
  justify-content: flex-end;
}

.supplierInfo h3,
.shippingInfo h3 {
  margin: 0;  
}

