.fieldContainer {
  text-align: center;
  margin: 10px 5px;
}

.btns {
  composes: fieldContainer;
  display: flex;
  justify-content: center;
}

.btn {
  margin-right: 0.5rem;
}

.previewImg {
  max-width: 22.5rem;
  max-height: 22.5rem
}