@value size12 from '../../styles/font.css';
@value solar, lightGrey200, persian, alto from '../../styles/colors.css';

.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.content,.confirmButton {
  // flex: 1;
  width: 80%;
  margin: 0 auto;
  display:flex;
  align-items:center;
  flex-direction:column;
}

.back {
  flex: 1 1 auto;
}

.confirmButton {
  flex: 20 2 auto;
}

.content {
  flex: 10 1 auto;
}

 