@value silver from '../../styles/colors.css';
@value size18, bold from '../../styles/font.css';

.root {
  padding: 1rem;
}

.samples {
  display: flex;
  flex-direction: row
}

.sample {
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 13rem;
  border: 1px solid silver;
}

.headerGrid {
  composes: grid;
  composes: size18;
  composes: bold;
}

.submitGrid {
  composes: grid;
}

.sampleList {
  display: flex;
  padding: 0 0.5rem;
  width: 40rem;
  overflow-x: scroll;
}

.submitGrid div:first-of-type {
  margin-right: 0.25rem;
}
