@value silver from '../../styles/colors.css';
@value size18, bold from '../../styles/font.css';

.root {
  padding: 1rem;
}

.samples {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
}

.sample {
  display: flex;
  flex-direction: column;
}

.grid {
  box-sizing: border-box;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 13rem;
  border: 1px solid silver;
}

.headerGrid {
  composes: grid;
  composes: size18;
  composes: bold;
}

.submitGrid {
  composes: grid;
}

.sampleList {
  display: flex;
  padding: 0 0.5rem;
  overflow-x: scroll;
}

.submitGrid div:first-of-type {
  margin-right: 0.25rem;
}

.btnBar {
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}
