@value outerspace, lightGrey, limedspruce, silverchalice, alto, eggblue from '../../styles/colors.css';
@value size12, size24 from '../../styles/font.css';

.header {
  background-color: outerspace;
  box-sizing: border-box;
  display: flex ;
  height: 9.375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.header div {
  color: lightGrey;
}

.navigation {
  padding: 0;
  height: 100vh;
  background-color: #37474f;
}

.menu {
  padding: 0;
  background-color: limedspruce;
}

.menuItem {
  padding: 1.625rem;
}

.submenuItem {
  padding: 1.625rem;
  cursor: pointer;
}

.menuItem:hover {
  background-color: #212e41 !important;
}

.menuContent {
  background: #15a4fa;
  color: #eef4fa;
}

.menuContentInner {
  display: flex;
  flex-direction: column;
}

.collapsible {
  text-align: center;
  background: #293649;
  color: #eef4fa;
  cursor: pointer;
}