@value outerspace, lightGrey, limedspruce, silverchalice, alto, eggblue from '../../styles/colors.css';
@value size24 from '../../styles/font.css';

.header {
  background-color: outerspace;
  box-sizing: border-box;
  display: flex ;
  height: 9.375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.header div {
  color: lightGrey;
}

.navigation {
  padding: 0;
  height: 100vh;
  background-color: #37474f;
}

.menu {
  padding: 0;
  background-color: limedspruce;
}

.menuItem {
  composes: size24;
  color: alto !important;
}

.menuItem:hover {
  background-color: eggblue !important;
}

.subMenu {
  padding: 0;
  text-align: center;
  background-color: silverchalice;
}

.subMenuLink {
  text-decoration: none;
  color: white;
}
